@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-darkText
    }
    h1 {
      @apply font-bold text-3xl mb-8
    }
    h2 {
      @apply font-semibold text-2xl mb-4
    }
    h3 {
      @apply font-semibold text-xl
    }
    h4 {
      @apply font-semibold text-lg
    }
    strong {
      @apply font-bold text-primary;
    }
    
  }

@layer components {
    .text-muted {
        @apply font-light text-gray-600
    }
    .shadow-all-around {
      box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    }
    .shadow-popup {
      box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    }
    .link {
        @apply text-primary hover:underline
    }

    .chip {
      @apply mr-2.5 mb-2.5 border border-gray-300 flex h-9 px-3 my-auto w-max rounded-full
    }

    .icon-surrounding {
      @apply w-8 h-8 text-xl rounded-full flex place-items-center justify-center shadow-md
    }

    .tooltip {
      @apply relative
    }

    .tooltip .tooltip-text {
      @apply absolute opacity-0 text-sm w-max bg-dark text-light px-2 py-1.5 rounded-md transition-opacity duration-100 ease-in-out shadow-md bg-opacity-60
    }

    .tooltip:hover .tooltip-text {
      @apply opacity-100;
    }

    .tooltip-top {
      @apply bottom-full left-1/2 transform -translate-x-1/2
    }

    .tooltip-left {
      @apply -top-1 right-full mr-1.5
    }

    .tooltip-left::after {
      content: ' ';
      border-color: transparent transparent transparent rgba(17, 24, 39, 0.6) !important;
      @apply absolute -mt-1 border-4 border-transparent border-solid top-1/2 left-full;
    }

    /* tag input */
    .ti-input, .ti-new-tag-input {
      @apply bg-light !important
    }
    .ti-tag {
      @apply rounded-full bg-primary text-lightText px-3 py-0.5 text-sm !important
    }
    .ti-deletion-mark {
      @apply bg-danger !important
    }
    .vue-tags-input {
      @apply max-w-screen-2xl !important
    }
    /* text and number input floating label */
    .floating-label ~ label {
      @apply text-gray-500 duration-300
    }
    .floating-label:focus-within ~ label {
      @apply duration-300 transform scale-75 -translate-y-6 text-primary;
     }
     .floating-label:focus-within ~ label,
     .floating-label:not(:placeholder-shown) ~ label {
       @apply text-gray-500 duration-300 transform scale-75 -translate-y-6;
     }
     
     .floating-label:focus-within ~ label {
       @apply text-primary;
     }

     /* quill editor floating label */
     .ql-editor-container ~ label {
      @apply text-gray-500 duration-300
    }
    .ql-editor-container:focus-within ~ label {
      @apply duration-300 transform scale-75 -translate-y-7 text-primary;
     }
    .fixed-label {
      @apply top-0 text-gray-500 duration-300 transform scale-75 -translate-y-7;
     }

     /* calendar input */
    .mx-input {
      @apply transition-all duration-300 border-0 rounded-none shadow-none !important;
    }
    .mx-input:hover {
      @apply border-gray-300 !important;
    }
    .mx-input:focus {
      @apply border-primary !important;
    }
    .calendar-floating-label ~ label {
      @apply text-gray-500 duration-300
    }
    .calendar-floating-label:focus-within ~ label {
      @apply duration-300 transform scale-75 -translate-y-6 text-primary;
     }
     .calendar-fixed-label {
      @apply top-0 text-gray-500 duration-300 transform scale-75 -translate-y-4.5 !important;
     }
     /* .calendar-floating-label:focus-within ~ label {
     /* .floating-label:not(:placeholder-shown) ~ label 
       @apply text-gray-500 duration-300 transform scale-75 -translate-y-5;
     }
      */
     .calendar-floating-label:focus-within ~ label {
       @apply text-primary !important;
     }

     /* floating label border */
     .ql-editor-container {
       @apply transition-border duration-300
     }

     /* animations */
     .bounce-enter-active {
      animation: bounce-in 0.25s ease;
    }
    .bounce-leave-active {
      animation: shrink-out 0.25s ease;
    }
    @keyframes bounce-in {
      0% {
        transform: scale(0.8);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
    
    @keyframes shrink-out {
      0% {
        /* transform: scale(1); */
        opacity: 1;
      }
      /* 50% {
        transform: scale(1);
        opacity: 1;
      } */
      100% {
        /* transform: scale(0.85); */
        opacity: 0;
      }
    }
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.25s ease;
    }
    
    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
    }
    
  }